.currency-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.currency-symbol {
    position: absolute;
    top: 36px; /* Try starting here, then tweak if needed */
    left: 1px;
    font-size: 14px;
    line-height: 1;
    pointer-events: none;
    color: #555;
    z-index: 1;
}

.currency-input lightning-input input {
    padding-left: 1px;
}