:host {
    display: block;
}

.textHeadingWithSubTitle{
    font-size: 1.2rem !important;
}

.slds-col-underline {
    border-bottom: 0px solid #d8dde6;
}

.header-container {
    background-color: #f4f6f9; /* Light background */
    display: flex;
    align-items: center;
    gap: 1rem; /* Space between logo and text */
}

.object-logo {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%; /* Circular logo */
    background-color: black;
   
}

.object-logo-box {
    box-sizing:content-box;
    padding-left: 0.4rem;
}

.sticky{
    position: sticky;
    top: 0;
    background-color: white;;
}

.backgroundGrey{
    background-color:  rgb(211, 211, 211);
}

.docketNumber{ 
    font-size: 1rem;
    font-weight: bold;
}

.bold-text {
    --lwc-inputStaticFontWeight: bold;
}

.pillStyle {
    --slds-c-pill-color-background : black;
    --slds-c-pill-text-color-error : white;
}

.badgeColor{
    
--slds-c-badge-text-color : rgba(154, 82, 0, 1);
--slds-c-icon-color-foreground : blue;
}

.hiddenVisibility{
    visibility: hidden;
}