.search-bar {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.search-section {
    flex: 0 0 40%; /* Fixed width for the left section */
    position: relative; /* Keeps dropdowns within bounds */
}


.enhanced-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%; /* Matches the width of the input */
}



.action-icons {
    display: flex;
    justify-content: center;
   /*  gap: 15px; Space between icons */
    align-items: center;
    width: 100%;
}

.action-icons i {
    cursor: pointer;
    font-size: 18px;
    color: #333; /* Dark gray */
}

.action-icons i:hover {
    color: #007bff; /* Highlight on hover */
}